<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <title>Compalints</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Complaint Management System</a>

        <div class="text-align" id="navbarTogglerDemo02">
          <span
            ><a href="#" class="user-badge"><i class="fa-solid fa-user"></i></a
          ></span>
          <span class="user-name">Swornim Bhattarai</span>
        </div>
      </div>
    </nav>
    <div class="dashboard">
      <div class="container">
        <div class="form-complaint">
          <div class="detail-card">
            <div class="card-body">
              <div class="detail-title">
                <strong> <%payload.title %> </strong>
              </div>
              <div class="detail-body">
                <div class="flex-it details">
                  <div class="info">
                    <div class="date">
                      <span><i class="fa-solid fa-calendar-days"></i></span>
                      4 days ago
                    </div>
                    <div class="name">
                      <span><i class="fa-solid fa-user"></i></span>
                      Swornim Bhattarai
                    </div>
                  </div>
                  <div class="">
                    <form
                      class="admin-detail flex-it"
                      action="/admin/details/<%=payload._id %>"
                      method="POST"
                    >
                      <input type="hidden" name="_method" value="put" />
                      <select
                        name="status"
                        class="form-select form-margin complaint-page-select"
                        required
                      >
                        <option value="Success">Success</option>
                        <option value="Progress">Progress</option>
                        <option value="Queue">Queue</option>
                      </select>
                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
                <p><%=payload.description %></p>
                <!-- <div class="row">
                  <div class="col-md-4">
                    <div class="image">
                      <img src="pothole-1138292-1661174905.jpg" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="image">
                      <img src="pothole-1138292-1661174905.jpg" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="image">
                      <img src="pothole-1138292-1661174905.jpg" />
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
