<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'>
    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="mainContainer">
      

        <div class="">
            <div class="">
                <div class="">
                    <div class="card p-4">
                      
                        <form id="submitForm" action="/signup" method="post" onsubmit="return validateForm()" >
                          <% if(message){ %>
                            <div class="alert alert-danger" role="alert"><%=message %></div>
                            <%} %>
    
                            <div class="form-group required">
                                <lSabel for="username">Full Name</lSabel>
                                <input type="text" class="form-control text-lowercase" id="fullname" required=""
                                    name="fullname" value="">
                            </div>

                            <div class="form-group required">
                                <lSabel for="username">Phone Number</lSabel>
                                <input type="text" class="form-control text-lowercase" id="number" required=""
                                    name="number" value="">
                            </div>

                            <div class="form-group required">
                                <lSabel for="username">Address</lSabel>
                                <input type="text" class="form-control text-lowercase" id="address" required=""
                                    name="address" value="">
                            </div>

                           
                            <div class="form-group required">
                                <lSabel for="username">Email</lSabel>
                                <input type="text" class="form-control text-lowercase" id="email" required=""
                                    name="email" value="">
                            </div>

                            <div class="form-group required">
                                <label class="align-items-center">Password
                                    
                                <input type="password" class="form-control" required="" id="password" name="password"
                                    value="">
                            </div>
                            <div class="form-group required">
                                <label class="align-items-center">Confirm Password
                                    
                                <input type="password" class="form-control" required="" id="confirm-password" name="confirm-password"
                                    value="">
                            </div>

                            <div class="form-group pt-1">
                                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->

    <script>
        // Function to validate the form
        function validateForm() {
          // Get the values of the form fields
          var fullName = document.getElementById("fullname").value;
          var phoneNumber = document.getElementById("number").value;
          var address = document.getElementById("address").value;
          var email = document.getElementById("email").value;
          var password = document.getElementById("password").value;
          var confirmPassword = document.getElementById("confirm-password").value;
      
          // Validate the full name field
          if (fullName === "") {
            alert("Please enter your full name.");
            return false;
          }
      
          // Validate the phone number field
          if (phoneNumber === "" || phoneNumber.length!==10||!phoneNumber.startsWith("9")) {
            alert("Please enter valid phone number.");
            return false;
          }
      
          // Validate the address field
          if (address === "") {
            alert("Please enter your address.");
            return false;
          }
      
          // Validate the email field
          if (email === "") {
            alert("Please enter your email.");
            return false;
          }
      
          // Validate the password field
          if (password === "") {
            alert("Please enter your password.");
            return false;
          }
      
          // Validate the confirm password field
          if (confirmPassword === "") {
            alert("Please confirm your password.");
            return false;
          }
      
          // Validate password and confirm password match
          if (password !== confirmPassword) {
            alert("Passwords do not match.");
            return false;
          }
      
          // Form is valid, you can proceed with submitting the form
          return true;
        }
      </script>
      <script>
        console.log("Made By Swornim Bhattarai and Prajita Balami")
      </script>

</body>

</html>