<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
    <div class="mainContainer">
        <div class="card p-4" id="forget-password-id">
            <h6>Reset password for <%= email %>
            </h6>
            <form class="form-group" action="" method="POST">

                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
                <br>
                
                <input type="submit" value="Reset password" class="btn btn-primary btn-block">

            </form>

        </div>

    </div>


</body>

</html>